* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --text-primary: #000;
    --text-secondary: #fff;
    --bg-primary: #0A0400;
    --bg-secondary: #fff;
    --scroll-primary: #FBB023;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--bg-primary);
}
::-webkit-scrollbar-thumb {
    background: #555
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(33,37,41);
}

.spinner-grow{
    animation-name: spinner-grow;
    animation-duration: 1s;
}
@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
}

.day {
    background-image: url("../images/day.jpg");
    background-size: 100%;
    background-repeat:no-repeat; 
    background-size: cover;
}
.night {
    background-image: url("../images/night.jpg");
    background-size: 100%;
    background-repeat:no-repeat; 
    background-size: cover;
}